{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold text-primary">Home</h1>
        <h2 class="text-muted mb-4">Inventario</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-3 text-center"> <!-- Agregamos text-center aquí -->
            <a href="/registrar" class="btn btn-primary btn-lg btn-block">Registrar Producto</a>
        </div>
        <div class="col-12 col-md-6 mb-3 text-center"> <!-- Agregamos text-center aquí -->
            <a href="/entrada" class="btn btn-success btn-lg btn-block">Entrada Producto</a>
        </div>
        <div class="col-12 col-md-6 mb-3 text-center"> <!-- Agregamos text-center aquí -->
            <a href="/salida" class="btn btn-danger btn-lg btn-block">Salida Producto</a>
        </div>
    </div>

    {% include "lista_productos.html" %}
</div>
{% endblock %}
